@model SPX.ViewModels.BucketsCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bucket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Bucket.Id" />
            <div class="form-group">
                <label asp-for="@Model.Bucket.Name" class="control-label"></label>
                <input asp-for="@Model.Bucket.Name" class="form-control" />
                <span asp-validation-for="@Model.Bucket.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Bucket.Description" class="control-label"></label>
                <input asp-for="@Model.Bucket.Description" class="form-control" />
                <span asp-validation-for="@Model.Bucket.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Bucket.Price" class="control-label"></label>
                <input asp-for="@Model.Bucket.Price" class="form-control" />
                <span asp-validation-for="@Model.Bucket.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <h5>Bucket's teams</h5>
            <div class="form-group">
                <ul>
                    @for (var i = 0; i < Model.TeamSelections.Count; i++)
                    {
                        <li>
                            <input type="checkbox" asp-for="@Model.TeamSelections[i].Selected" />
                            <label asp-for="@Model.TeamSelections[i].Selected">@Model.TeamSelections[i].Team.Name</label>
                            <input type="hidden" asp-for="@Model.TeamSelections[i].Team.Id" />
                            <input type="hidden" asp-for="@Model.TeamSelections[i].Team.Name" />
                        </li>
                    }
                </ul>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
